[submodule "Plugins/HeartGraph"]
	path = Plugins/HeartGraph
	url = https://github.com/Drakynfly/HeartGraph.git
[submodule "Plugins/HeartDemoContent"]
	path = Plugins/HeartDemoContent
	url = https://github.com/Drakynfly/HeartDemoContent.git
[submodule "Plugins/Flakes"]
	path = Plugins/Flakes
	url = git@github.com:Drakynfly/Flakes.git
