[submodule "Plugins/HeartGraph"]
	path = Plugins/HeartGraph
	url = https://github.com/Drakynfly/HeartGraph.git
[submodule "Plugins/HeartDemoContent"]
	path = Plugins/HeartDemoContent
	url = https://github.com/Drakynfly/HeartDemoContent.git
